@CHARSET "utf-8";

#headContainer
{
	border: solid 1px #ccc;
}


#loginRegDiv
{
	float: right;
	height: 100%;
	padding-left: 10px;	
	padding-right: 10px;
}

#contactDiv
{
	float:right;
	height: 100%;
	padding-left: 10px;	
}

#inviteDiv
{
	float:right;
	height: 100%;
	padding-left: 10px;
}


#mainContainer
{
	
	font-size: 14px;
	font-family:宋体;
	
	margin: 0px auto;
	width: 1200px;
}

#headContainer
{
	width: 100%;
	height: 70px;
	border-bottom: solid 1px #ccc;
	padding: 0;
}

#logoDiv
{
	float:left;
	height: 70px;
	width: 146px;
}

#headLeftDiv
{
	float:left;
	margin: 0;
	height: 100%;
}

#headRightDiv
{
	float:right;
	width:854px;
	height: 100%;
	padding: 0;
	margin:0;
	
}

#headBottomDiv
{
	float: left;
	width: 100%;
	height: 50%;
	margin-top:5px;
}

#aimDiv
{
	float:left;
	width: 100%;
	height: 50%;
	margin-top: 5px;
}

#cityDiv
{
	float: left;
	height: 50%;	
}