.labelDiv
{
	float: left;
	text-align: right;
	width: 50%;
}

.inputDiv
{
	float: left;
	text-align: left;
}

#mainContainer
{
	font-size: 18px;
	font-family:ו;
	
	margin: 0px auto;
	height: 324px;
	width: 570px;
	border-color: gray;
	border-style: solid;
	border-width: 3px;
}

#loginActionDiv
{
	float:left;
	width:50%;
	text-align: right;
	margin-right: 10px;
}

#registerLinkDiv
{
	float: left;
	text-align: left;
}


#registerLink
{
	vertical-align: sub;
	
}

#rememberLoginDiv
{
	float: left;
	text-align: right;
	width: 50%;
	font-family: Arial;
	font-size: 12px;
	height: 100%;
}

#forgotPwdDiv
{
	float: left;
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	height: 100%;
	padding-left: 10px;
}